

@keyframes animation {
  from {
    opacity:0;
    transform: translate(0, -20px);
  }
  to {
    opacity:1;
    transform: translate(0, 0);
  }
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
